.background{
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    resize: both;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mage,
.range,
.melee{
    min-height: 130px;
    min-width: 130px;
    font-size: xx-large;
    font-weight: 800;
    text-shadow: 0 0 10px #ff5e00;
    color: yellow;
}

h1, .score{
    display: flex;
    justify-content: space-evenly;
}

h1,
h2,
h3{
    color: burlywood;
    padding: 10px;
    margin: 0px;
    text-shadow: 0 0 10px #ff5e00;
}

div{
    display: flex;
    justify-content: space-evenly;
}

.key{
    display: block;
    max-height: 250px;
    margin-left: 40%;
    margin-right: 40%;
    border: 5px solid #ff5e00;
    border-radius: 30%;
    background-color: #ff5e00;
    margin-top: 30px;
}

.youWin{
    color: green;
}

.youLose{
    color: red;
}

.youTied{
    color: blue;
}

.youWin,
.youLose,
.youTied{
    opacity: 10%;
}

.wlt{
    border: 5px solid brown;
}

.Buttons{
    margin-top: 20px;
}

.playerScore{
    text-shadow: 0 0 20px #00ff40;
}

.computerScore{
    text-shadow: 0 0 20px #0300a8;
}

.mage{
    background: url("../images/Mage.png") no-repeat;
}

.melee{
    background: url("../images/Melee.png") no-repeat;
}


.range{
    background: url("../images/Range.png") no-repeat;
}
